.wrapper {
  width: 80vw;
  height: auto;
  background-color: beige;
}
.container {
}
.header {
}
.main {
  background-color: aqua;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.column2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer {
}
