.wrapper {
  width: 300px;
  height: 400px;
  padding: 8px;
  background-color: antiquewhite;
  border-radius: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header {
  font-size: 1.2rem;
  font-weight: bold;
  img {
    width: 50px;
    height: 50px;
    background-color: yellow;
  }
}
.main {
  img {
    width: 35px;
    height: 40px;
  }
  & > div {
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
  }
}
.footer {
}
