.wrapper {
  position: relative;
  margin-top: 50%;
  width:420px;
  height: 420px;
  border-radius: 20px;
  overflow-y: scroll;

  background-color: bisque;
  // top: 50%;
  // left: 20%;
  

  .container {
    margin: 20px;
    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .header_ment {
        font-size: 25px;
        font-weight: 700;
      }
    }
    .main {
      .follow_user {
        margin-top: 10px;
      }
    }
  
    .footer {
    }
  }
}
