.wrapper {
  width: 300px;
  height: 300px;
  background-color: bisque;
}
.container {
}
.header {
  font-weight: bold;
  font-size: 1.2rem;
}
.main {
  display: flex;
  flex-direction: column;
}
.footer {
}
