.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: none;
  .container {
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
  }

  .imageContainer {
    position: relative;
    .userProfileImg {
      width: 50px;
      height: 50px;
      border-radius: 70%;
      overflow: hidden;
    }
    .userNationFlag {
      width: 20px;
      height: 15px;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }
  .name {
    // width: 100%;
    width: 200px;
    font-size: 1.2rem;
    margin-left: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration-line: none;
    text-decoration-color: black;
  }
}

.wrapper-small {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: none;
  .container {
    margin-left: 5%;
    display: flex;
    justify-content: flex-start;
  }

  .imageContainer {
    position: relative;
    .userProfileImg {
      width: 30px;
      height: 30px;
      border-radius: 70%;
      overflow: hidden;
    }
    .userNationFlag {
      width: 15px;
      height: 10px;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }
  .name {
    width: 200px;
    margin-left: 20px;
    display: flex;
    font-size: 1.1rem;
    font-weight: bold;
    align-items: center;
    text-decoration-line: none;
    text-decoration-color: black;
  }
}
