*:not(body, html) {
  box-sizing: border-box;
}

.wrapper {
  width: 400px;
  height: 230px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
}

.title {
  width: 400px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
  background: rgb(176, 68, 185);
  background: linear-gradient(
    166deg,
    rgba(176, 68, 185, 1) 0%,
    rgba(232, 156, 224, 1) 78%,
    rgba(202, 219, 251, 1) 100%
  );

  // background-color: #b865c6;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  div {
    margin-left: 10px;
  }
}

.content {
  margin-left: 10px;
  font-weight: bold;
  position: relative;
  input {
    width: 95%;
    border: none;
    border-bottom: solid 1px #b865c6;
  }
  input:focus {
    outline: none;
  }
}
.validation {
  font-size: 0.8rem;
  color: #4a4a4a;
}

.container {
  height: 100%;
  position: relative;
  & > button {
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 8px;
    color: #fff;
    background-color: #b865c6;
    cursor: pointer;
  }
  & > button:disabled {
    background-color: #4a4a4a;
    cursor: no-drop;
  }
}
