.login {
  background-image: url("../../../assets/youlangme_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-size : 100%;
  // width : 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  .login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 24%;
    height: 70%;
    background: #b865c6;
    border-radius: 30px;
    margin-right: 7%;

    // margin-right: ;

    h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 800;
      font-size: 60px;
      line-height: 73px;
      text-transform: capitalize;
      text-align: center;
      color: #ffffff;

      margin-top: 0%;
    }

    .div {
      display: flex;
      justify-content: center;
    }

    .login__id {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        height: 30px;
        border-radius: 30px;
        margin-top: 10px;
        padding: 0px 10px;
        border: 1px solid lightgray;
        outline: none;
      }

      label {
        font-weight: 600;
        color: #ffffff;
      }
    }

    .login__pw {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
        height: 30px;
        border-radius: 30px;
        margin-top: 10px;
        padding: 0px 10px;
        border: 1px solid lightgray;
        outline: none;
      }
      label {
        color: #ffffff;
        font-weight: 600;
      }
    }
    button {
      width: 80%;
      height: 30px;
      margin-top: 40px;
      border: 0;
      outline: none;
      border-radius: 40px;
      background: linear-gradient(to left, #f0c325, rgb(252, 156, 2));
      color: white;
      font-size: 1.2em;
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
}
