.wrapper {
  width: 70%;
  background-color: #fcf9f6;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: solid 2px #d3d3d3;
  border-radius: 15px;
}
.container {
  width: 95%;
  margin: 0px auto;
}
.header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 12px 2px 12px 10px;
  border-bottom: solid 1px #d3d3d3;
  .user_profile {
    // width: 35%;
    &:hover {
      background:rgba(237, 231, 223, 0);
      // border-radius: 15px;
      padding: 3px;
    }

  }


  & > div:nth-of-type(2) {
    margin-left: auto;
    width: 70px;
    font-size: 0.8rem;
    color: #a5a5a5;
  }
}
.main {
  cursor: pointer;
  img {
    width: 150px;
    height: 120px;
    border-radius: 15px;
  }
  .contentContainer {
    .content {
      width: 90%;
      margin: 15px 10px;
      font-size: 1rem;
      font-weight: 300;
      /* 여러 줄 줄이기 위한 코드 3줄 */
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
  
    }
    .imgContainer {
      margin-top: 20px;
      display: flex;
      gap: 15px;
    }
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 30px;
    & > div {
      display: flex;
      align-items: center;
    }
    .cnt {
      font-weight: 700;
    }
  }
}
