.followBtn {
  margin-top: 15px;
  
}


.follow {
  display: flex;
  margin-top: 10px;

  .follow_greys {
    color: #B8C5D0;
    cursor: pointer;
  }

  .cnt {
    margin: 3px;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
  }

}


// .unfollow {
//   background-color: #B8C5D0;
// }