.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background: transparent;
  padding: 12px 9% 12px 6%;

  .navbar__left {
    // display: flex;
    // flex-direction: row;
  
    .navbar__logo {
      // text-decoration: none;
      height: 50px;
      width: 220px;
      margin-top: 10px;
      // width: 100%;
      // align-items: center;
      // // color: white;
      cursor: pointer;
    }
  }
}


.header_profile_menu_icon {
  // margin-top: 10px;

}




.dropdown {
  position: relative;
  display: inline-block;
}

.name {
  color: white;
  text-align: center;
  font-size: 22px;
}
.link {
  text-decoration: none;
  color: black;
}

.content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 4px 10px 0px black;
  padding: 8px 8px;
  z-index: 1;
}

.dropdown:hover .content {
  text-decoration: none;
  display: block;
  color: black;
  cursor: pointer;
}
