.uploaderWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .imgWrapper{
      margin: 50px 0 20px 0;
      img{
          width: 200px;
          height: 200px;
      }
  }
  .uploadButton{
      button{
          margin: 0 5px;
      }
  }
}