.uploaderWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .uploadButton{
      button{
          margin: 0 5px;
      }
  }
}

.add_profile_img {
  cursor: pointer;
  
}