// .uploaderWrapper{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
  
  
// }

.upload_profile_image{
  display: flex;
  flex-direction: column;
  .choose_file_btn {
    margin-left: auto;
    margin-top: 3%
  }
}

.cursor {
  cursor: pointer;
}


.upload_buttons {
  margin-top: 30px;
  
}
