.container {
  justify-content: center;
}

.formContainer {
  display: flex;
  align-items: center;
  width: 450px;
  height: 700px;
  padding: 15px;
  border: solid 1px #fff;
  border-radius: 15px;
  color: #000;

  background-color: #f6c0ff;
  // background-color: #B865C6;
  text-align: left;

  form {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
    justify-content: space-around;
    h5 {
      margin: 5px 0px;
    }

    .nationSelect {
      width: 300px;
      margin: 0px auto;
    }
    label {
      font-weight: bold;
    }

    .nicknameContainer {
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px black;

      input {
        width: 75%;
        height: 40px;
        border: none;
        background-color: transparent;
        align-self: flex-end;
      }

      Button {
        width: 25%;
        height: 40px;
      }
    }

    .languageSelectionContainer {
      & > div {
        width: 80%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
      }
    }
    .twoInputsContainer {
      width: 80%;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
    }
    .interestContainer {
      span {
        font-weight: bold;
      }
      p {
        margin: 0;
      }
      .chipsContaier {
        width: 400px;
        margin: 0px auto;
        padding: 15px;
        * {
          margin: 8px;
        }
      }
    }
  }
}

.submitBtn {
  display: flex;
  justify-content: center;
}
