.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0px auto;
  padding: 15px;
  color: #000;
  background-color: #fff;
  text-align: left;
  form {
    input {
      width: 280px;

      border: none;
      border-bottom: solid 1px #000;
    }

    .nicknameContainer {
      display: flex;
      justify-content: center;
    }
    .languageSelectionContainer {
      & > div {
        width: 80%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
      }
    }
    .interestContainer {
      span {
        font-weight: bold;
      }
      .chipsContaier {
        width: 400px;
        margin: 0px auto;
        padding: 15px;
        * {
          margin: 8px;
        }
      }
    }
  }
}

.submitBtn {
  display: flex;
  justify-content: center;
}
