.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: 15px 15px 0px 0px;
  padding: 15px;
  color: #fff;
  background-color: #b865c6;
  font-size: 1.2rem;
  font-weight: bold;
}
