.right_profile {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 3%;
  
  .wrapper_level_activity {
    display: flex;
    flex-direction: row;
    height: 45%;

    .container {
      width: 50%;
      
      .level_card {
        width: 75%;
        height: 85%;
        // margin-top: 20px;
        // margin-bottom: 20px;
        // margin: 15px 10px 12px 20px;
        
        // background: rgba(255, 255, 255, 0.2);
        // border: 1px solid #CAD6E2;
        // border-radius: 20px;

        
        .level {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .trophy {
            // margin-top: 2%;
            // margin-bottom: 0%;
          }
        }

      }

      .activity_card {
        width: 80%;
        // height: 300px;
        height: 85%;
        // margin-top: 20px;
        // margin-bottom: 20px;
        // margin: 15px 10px 12px 20px;
        
        background: rgba(255, 255, 255, 0.2);
        // border: 1px solid #CAD6E2;
        border-radius: 20px;
        // text-align: center;
        
        .my_activity {
          height: 280px;
          width: 100%;
          padding-bottom: 15px;
          // margin-bottom: 0px;
        }
      }
    }
  }

  .badge_container {
    width: 92%;
    height: 25%;
    margin-top: 1%;
    .badge_card {
      height: 70%;
      background: rgba(255, 255, 255, 0.2);
      // border: 1px solid #CAD6E2;
      border-radius: 20px;
    }
  }

  .grass_container {
    width: 92%;
    height: 27%;
    // margin-top: 1%;
    .grass_card {
      height: 80%;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #CAD6E2;
      border-radius: 20px;
    }
  }
}



.modal_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 2%;
}

// .left_profile {
//   display: flex;
//   flex-direction: column;
//   width: 25%;
//   margin-top: 1%;

//   .header {

//     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   }

//   .avatar {
//     // justify-content: center;
//     text-align: center;
//     margin-top: 10%;

//     .profile_img_add_icon {
//       text-align: end;
//       margin-right: 15%;

//     }

//     .flag {
//       width: 85px;
//       height: 55px
//     }
//   }

//   .profile_content {
//     margin-top: 10px;

//     .name {
//       margin-left: 20px;
//     }

    
//     .description_card {
//       display: flex;
//       flex-direction: column;
//       // justify-content: space-between;
//       width: 100%;
//       margin-top: 20px;
//       min-height: 140px;
//       max-height: 140px;
//       background: rgba(255, 255, 255, 0.2);
//       border: 1px solid #CAD6E2;
//       border-radius: 20px;
      
//       .modify_discript {
//         margin-top: 3%;
//         margin-left: auto;
//         margin-right: 3%;
//         margin-bottom: 0%;
//       }

//       .description_card_content {
//         padding: 10px 20px 10px 20px;
//         min-height: 100px;
//         max-height: 130px;
//       }
//     }

//     .rest_info {
//       width: 100%;
//       margin-top: 20px;
//       // margin-bottom: 20px;
//       padding: 15px 10px 12px 20px;

//       background: rgba(255, 255, 255, 0.2);
//       border: 1px solid #CAD6E2;
//       border-radius: 20px;

//       .languages {
//         display: flex;

//         .greys {
//           color: #9BA7AF;
//         }

//         .language {
//           font-weight: 800;
//           font-size: 14px;
//           line-height: 24px;
//         }

//       }


//       .favorite_chips {
//         width: 95%;
//         display: flex;
//         margin-top: 10px;
//         // justify-content: space-around;

//         .chip {
//           padding: 0px 4px;
//           margin-left: 10px;
//           font-size: 14px;
//         }
//       }
//     }
//   }

// }