.container {
  width: 500px;
  height: 330px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.title {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #fff;
  font-size: 1.2rem;
  background-color: #b865c6;
  div {
    width: 70%;
    display: flex;
    margin: 0px 20px;
  }
  & div:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
}
.uploadBoxWrapper {
  width: 90%;
  height: 70%;
  background-color: #f9f3ee;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadBoxContainer {
  width: 90%;
  height: 90%;
  border: dashed 2px #4b4b4b;
  svg {
    font-size: 200px;
  }
}
