.wrapper {
  height: 300px;
}

.msgStyle {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  & > img {
    width: 50px;
    height: 50px;
    opacity: 0.2;
  }
}
.msgStyle2 {
  height: 30%;
  font-size: 0.3rem;
}

.boxWrapperStyle {
  width: 90%;
  height: 70%;
  background-color: #f9f3ee;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadBoxStyle {
  width: 90%;
  height: 90%;
  border: dashed 2px #4b4b4b;
}

.baseStyle {
  height: 200px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2;
  border-radius: 2;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.focusedStyle {
  border-color: #2196f3;
}

.uploadButton {
  margin-top: 10px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;

  button {
    color: #fff;
    background-color: #4b4b4b;
    width: 100px;
    height: 30px;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
  }
  .isImageLoaded {
    background-color: #b865c6;
    transition: 1s;
    cursor: pointer;
  }
}
