$blue: #228be6;
$gray: #495057;
$pink: #f06595;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $blue;
  color: #fff;
  background: $blue;
  height: 2.25rem;
  border: none;
  font-weight: 900;
  cursor: pointer;
  // 주석은 //을 사용하는 것 같다 멀티라인은 /**/

  @mixin font-color($color) {
    color: $color;
  }
  @mixin btn-color($color) {
    background: $color;
  }

  &:hover {
    background: lighten($color: $blue, $amount: 30%);
    transition: 0.5s;
  }
  &.large {
    width: 200px;
  }
  &.medium {
    width: 100px;
  }
  &.green {
    @include font-color(#000);
    @include btn-color(green);
  }
  &.red {
    @include font-color(#fff);
    @include btn-color(red);
  }
  &.grey {
    @include font-color(#fff);
    @include btn-color(grey);
  }
  &.nicknameDupCheck {
    @include font-color(#B865C6);
    @include btn-color(#E4DCCF);

  }
  &.purple {
    @include font-color(#fff);
    @include btn-color(#33003b);
  }

  &.rounded {
    border-radius: 15px;
  }
}
