.wrapper {
  background-color: #fff;
  padding-top: 15px;
  border: none;
  border-radius: 10px;
  width: 95%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 5px #d3d3d3;
    transition: 0.3s;
  }

  .container {
    width: 100%;

    .header {
      width: 90%;
      margin: 5px auto;
      display: flex;

      justify-content: space-between;
      align-items: center;
      // border-bottom: solid 1px #d3d3d3;
      .author {
        width: 200px;
        // display: flex;
        margin-bottom: 5px;

        &:hover {
          background: #e9aad944;
          border-radius: 15px;
          transition: 0.5s;
          padding: 3px 0px;
          // transform: translateY(-5px);
          // box-shadow: 5px 5px 5px #d3d3d3;
        }

        // img {
        //   width: 50px;
        //   height: 50px;
        //   border-radius: 70%;
        //   overflow: hidden;
        // }
      }
      .createdAt {
        font-size: 0.9rem;
        color: #9ba7af;
      }
    }
    .content {
      width: 100%;
      margin: 15px 0px 3px 0px;

      .text {
        width: 90%;
        margin-left: 8%;
        /* 여러 줄 줄이기 위한 코드 3줄 */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .noPic {
        min-height: 100px;
      }
      .image {
        margin-top: 5px;
        width: 100%;
        max-height: 290px;
        overflow: hidden;
      }
    }
    .footerWrapper {
      margin-top: 10px;
      display: flex;
      justify-content: flex-start;
      .footer {
        width: 300px;
        padding: 10px;
        margin-left: 20px;
        display: grid;
        grid-template-columns: 90px 90px 90px;
        gap: -10px;
        & > div {
          display: flex;
          align-items: center;
        }
        gap: 15px;

        .cnt {
          font-weight: 700;
        }
      }
    }
  }
}

// override userInfo
