.wrapper {
  height: 100%;
  overflow-y: scroll;
  border: solid 2px #d3d3d3;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 0px;
}

.header {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > div:first-child {
    padding: 10px;
    margin-left: 4%;
    margin-bottom: 17px;
    font-size: 1.7rem;
    font-weight: bold;
    color: #B865C6;
    line-height: 36px;
    text-shadow: 2px 2px #d3d3d3;
  }
}

.footer {
  & > div {
    display: flex;

    justify-content: center;
    cursor: pointer;
  }
}
