.wrapper {
  background-color: #f5e6f1;
  padding: 10px;
  border: none;
  border-radius: 25px;
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createdAt {
  color: #9ba7af;
}
